<footer class="bg-dark text-white text-center py-3 mt-5 d-print-none shadow-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <small class="mb-0">
                    &copy; 2026 Plataforma de Caracterización Mecánica | Herramienta de Análisis
                </small>
            </div>
            <div class="col-12 mt-1">
                <small class="mb-0">
                    Desarrollado por <a href="{{ url_for('portafolio') }}" style="color: #3498db; text-decoration: none;"> Kenneth Prieto</a>
                    
                    <p>Contacto: kennethprieto20@gmail.com  <a href="https://github.com/prietokenneth28-del" style="color: #3498db; text-decoration: none;"> <i class="bi bi-github"></i> </a>   <a href="www.linkedin.com/in/kenneth-prieto-2175863b0" style="color: #3498db; text-decoration: none;"> <i class="bi bi-linkedin"></i> </a></p>
                </small>
            </div>
        </div>
    </div>
</footer>