<footer class="bg-dark text-white-50 text-center py-4 mt-5 d-print-none shadow-lg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <small class="mb-0">
                    © 2026 Plataforma de Caracterización Mecánica | Herramienta de Análisis Avanzada
                </small>
            </div>
            <div class="col-12 mt-2">
                <small>
                    Desarrollado por 
                    <a href="{{ url_for('portafolio') }}" class="text-decoration-none" style="color: #38ef7d;"> 
                        Kenneth Prieto
                    </a>
                </small>
                <br>
                <small class="mt-1 d-inline-block">
                    📧 kennethprieto20@gmail.com | 
                    <a href="https://github.com/prietokenneth28-del" class="text-decoration-none" style="color: #38ef7d;"> 
                        🐙 GitHub
                    </a> | 
                    <a href="https://www.linkedin.com/in/kenneth-prieto-2175863b0" class="text-decoration-none" style="color: #38ef7d;"> 
                        🔗 LinkedIn
                    </a>
                </small>
            </div>
        </div>
    </div>
</footer>